
<img src="../assets/destruccion.gif" *ngIf="explosion" class="gif" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999; width: 80vw; height: 100vh;">
<mat-dialog-content class="mat-typography" cdkTrapFocus>
  <h2 mat-dialog-title style="text-align: center;" #titulo>INVITACIÓN RIESGOSA</h2>

  <app-explosion></app-explosion>

  <p style="text-align: center;">
    <img src="../assets/mingyu.gif" style="justify-content: center; align-items: center;" class="gif">
</p>
  <h3></h3>
    <p>Hola!, Todos estos dias he estado quebrandome la cabeza preguntandome
      como hacerle para invitarte a salir de una manera poco convencional pero divertida, asi que al final decidi hacerte esta carta:
    </p>

    <h3>¿Te gustaria salir a comer conmigo el 14 de febrero?</h3>
      <p>
        Se que esto es raro porque pues es un dia especial en muchas maneras, pero eeey asi como es el dia del amor tambien es el de la amistad jajaja
      </p>
      <p>
        No se, simplemente siento que es un dia especial y realmente me gustaria compartirlo contigo y compartir bonitos recuerdos,
        comer algo rico en algun resturante bonito, ir a las maquinitas a jugar, tratar de ganar un peluche en la maquina de peluches y habra explosiones, aventura,
        rejalo, diversion, dulces, rifas, premios!
      </p>

      <p>
        No pasa nada si no aceptas, se que las cosas han estado algo turbias,
        que has estado muy estresada y que yo soy gran parte de ese estres.
        Se que no basta con solo pedir perdon, asi que hare todo lo que este en mi para mejorar como persona.
      </p>
      <h3>¿Me darias el honor de ser tu valentine day?</h3>
      <p>

        <img src="../assets/please.gif" class="gif" style="width: 200px; height: 200px;" *ngIf="please">
        <img [src]="imgActual" class="gif" style="width: 200px; height: 200px;" *ngIf="gatoSad">
      </p>

      <p *ngIf="btnSi && !btnNo" class="contenedor-imagen">
        <img src="../assets/mingyu2.gif" class="gif">
        <span class="texto-sobre-imagen">MINGYU BAILA PORQUE DIJISTE QUE SÍ</span>
      </p>

      <p *ngIf="falso" class="contenedor-imagen">
        <img src="../assets/sad.gif" class="gif" style="width: 200px; height: 200px;">
        <span class="texto-sobre-imagen">AUTODESTRUCCION CON GATOS EN: {{textoDestruccion}}</span>
      </p>



    </mat-dialog-content>
    <mat-dialog-actions align="center" *ngIf="mostrarBotones">
      <div class="formgrid grid" >
        <div class="field col">
          <button class="btn-seventeen" (click)="btnSiclick()" *ngIf="!btnNo">SÍ</button>
        </div>
        <div class="field col">
          <button class="btn-deprimido" (click)="btnNoclick()" id="btnNoMover" *ngIf="!btnNoDestruccion">{{ texto }}</button>
        </div>
      </div>
    </mat-dialog-actions>

    <mat-dialog-actions align="center" *ngIf="botonAbajo">
      <div class="formgrid grid" >
        <div class="field col" *ngIf="gatoSenialando">
          <img src="../assets/cat.gif"  style="width: 100%; height: 100%;">
        </div>
        <div class="field col">
          <!-- Agrandar el GIF de flechas cuando el botón "No" es presionado -->
          <label *ngIf="flecha">
            <img src="../assets/flechas.gif" class="flechas" style="margin-bottom: 40px;">
          </label>
          <label *ngIf="flecha2">
            <img src="../assets/flechas.gif" class="flechas2"  style="margin-bottom: -50px;">
          </label>
          <label *ngIf="!flecha">
            <img src="../assets/flechas.gif" class="flechas" style="opacity: 0;" >
          </label>
          <button class="btn-seventeen" (click)="btnSiclick()" >SÍ</button>
        </div>
        <div class="field col" *ngIf="!gatoSenialando2 && gatoSenialando">
        </div>
        <div class="field col" *ngIf="gatoSenialando2">
          <img src="../assets/cat2.gif"  style="width: 100%; height: 100%;">
        </div>
      </div>
    </mat-dialog-actions>
